@tailwind base;
@tailwind components;
@tailwind utilities;

.text-noto {
    font-family: 'Noto Sans TC', sans-serif!important;
}

.text-roboto {
    font-family: 'Roboto', sans-serif!important;
}

.text-primary {
    color: #004E8F!important;
}
.text-secondary {
    color: #009BD6!important;
}
.bg-primary {
    background-color: #004E8F!important;
}
.bg-secondary {
    background-color: #009BD6!important;
}
.border-color-primary {
    border-color: #004E8F!important;
}
.border-color-secondary {
    border-color: #009BD6!important;
}
.border-b-3 {
    border-bottom-width: 3px;
}

.deco-underline::after {
    content: '';
    top: 3px;
    height: 3px;
    @apply relative block w-full text-secondary;
}

.text-paragraph {
    @apply text-base leading-7 tracking-widest mb-6;
    color: rgba(0, 0, 0, 0.87);
}
